
.icon-wallet:before { content: '\e800'; } /* '' */
.icon-play-circled2:before { content: '\e801'; } /* '' */
.icon-cog-alt:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-gplus-circled:before { content: '\f059'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */